{{$year := index . "year"}}
{{$state := index . "state"}}
{{$stateResult := index . "stateResult"}}

{{template "header.html" "Results — {{$year}} — {{$state}}"}}

{{template "sidebar.html" .}}

<div>
<h1>{{$year}} — {{$state}}</h1>
<a href="{{root}}">Home</a> <a href="{{root}}{{$year}}">{{$year}}</a>
<h2>Overall Results</h2>
{{template "stateTable" $stateResult}}
{{range $number, $district := $stateResult.Districts}}
	<div class="district">
	<h2>District {{renderDistrict $number}}: <span class="{{districtMarginClass $district}}">{{districtMargin $district}}</span></h2>
	<table><thead><tr><th>Candidate</th><th>Party</th><th>Votes</th><th>Percentage</th></tr></thead><tbody>
	{{range $district.Candidates}}
		<tr><td>{{.Name}}</td><td>{{.Party}}</td><td>{{commaNum .Votes}}</td><td>{{renderPercentage .Votes $district.TotalVotes}}</td></tr>
	{{end}}
	<tr><td>Total</td><td></td><td>{{commaNum $district.TotalVotes}}</td><td></td></tr>
	</tbody></table>
	<img src="{{root}}districts/{{districtImage $year $state $number}}" />
	</div>
{{end}}
</div>

{{template "footer.html" .}}
