{{template "header.html" .}}

{{$year := index . "year"}}
{{$state := index . "state"}}
{{$stateResult := index . "stateResult"}}

{{template "sidebar.html" .}}

<div>
<h1>{{$year}} — {{$state}}</h1>
<a href=/>Home</a> <a href=/{{$year}}>{{$year}}</a>
<h2>Overall Results</h2>
{{template "overallTable" $stateResult}}
{{range $number, $district := $stateResult.Districts}}
	<h2>District {{renderDistrict $number}}</h2>
	<table><thead><tr><th>Candidate</th><th>Party</th><th>Votes</th><th>Percentage</th></tr></thead><tbody>
	{{range $district.Candidates}}
		<tr><td>{{.Name}}</td><td>{{.Party}}</td><td>{{.Votes}}</td><td>{{renderPercentage .Votes $district.TotalVotes}}</td></tr>
	{{end}}
	<tr><td>Total</td><td></td><td>{{$district.TotalVotes}}</td></tr>
	</tbody></table>
{{end}}
</div>

{{template "footer.html" .}}
