{{$year := index . "year"}}
{{$yearResult := index . "yearResult"}}

{{template "header.html" "Results — {{$year}}"}}

{{template "sidebar.html" .}}

<h1>{{$year}}</h1>
<p><a href="/">Home</a></p>
{{template "overallTable" $yearResult}}
{{range index . "states"}}
	{{$stateResult := index $yearResult.States .}}
	<a href="/{{$year}}/{{.}}">{{.}}</a> <span class="{{partyBiasClass $stateResult.Parties}}">{{partyBias $stateResult.Parties}}</span>
{{end}}

<p>{{printf "seats_%s" $year | chart}}{{printf "margin_%s" $year | chart}}</p>

{{template "footer.html" .}}
