{{template "header.html" .}}

{{$year := index . "year"}}
{{$yearResult := index . "yearResult"}}

{{template "sidebar.html" .}}

<h1>{{$year}}</h1>
<p><a href=/>Home</a></p>
{{template "overallTable" $yearResult}}
{{range index . "states"}}
	{{$stateResult := index $yearResult.States .}}
	<a href=/{{$year}}/{{.}}>{{.}}</a> <span class="{{partyBiasClass $stateResult.Parties}}">{{partyBias $stateResult.Parties}}</span>
{{end}}

<p><object data="/static/seats_{{$year}}.svg"></object><object data="/static/margin_{{$year}}.svg"></object></p>

{{template "footer.html" .}}
